{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/external/animations/fade.css">
{% endblock %}

{% block body %}
<div class="container u--fadeInLeft">
    <div class="row">
        <table class="table table-hover table-bordered table-responsive-sm table-spacing table-shadow">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Track</th>
                <th scope="col">Laps</th>
                <th scope="col">Stages</th>
                <th scope="col">Race Processed?</th>
            </tr>
        </thead>
        <tbody>
            {% for sl in schedule %}
                <tr id="{{ sl.id }}">
                    <th scope="row">{{ sl.name }}</th>
                    <td>{{ sl.date.strftime('%B %d %Y') }}</td>
                    <td>{{ sl.type }}</td>
                    <td><a href="{{ url_for('tracks', track_id=sl.track_id) }}">{{ trackDb.query.filter_by(id=sl.track_id).first().name }}</a></td>
                    <td>{{ sl.laps }}</td>
                    <td>{{ sl.stages }}</td>
                    {% if sl.race_processed == False %}
                        <!-- TODO: Fire AJAX request to backend to run race -->
                        <!-- TODO: Hotlink track to track page -->
                        <td><button type="button" class="btn btn-primary">Run Race</button></td>
                    {% else %}
                        <td class="text-center">&#10004</td> <!-- UTF-8 Dingbat for Check Mark -->
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}