{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/ajax.css">
    <link rel="stylesheet" href="../static/css/external/animations/fade.css">
{% endblock %}

{% block body %}
<div id="processing" style="display: none">
    <img src="../static/gifs/processing.gif" id="processing_gif" style="display: none"/>
</div>
<div class="container u--fadeInLeft">
    <div class="row">
        <table class="table table-hover table-bordered table-responsive-sm table-spacing table-shadow">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Track</th>
                <th scope="col">Laps</th>
                <th scope="col">Stages</th>
                <th scope="col">Race Processed?</th>
            </tr>
        </thead>
        <tbody>
            {% for row in schedule %}
                <tr id="{{ row.id }}">
                    <th scope="row">{{ row.name }}</th>
                    <td>{{ row.date.strftime('%B %d %Y') }}</td>
                    <td>{{ row.type }}</td>
                    <td><a href="{{ url_for('tracks', track_id=row.track_id) }}">{{ trackDb.query.filter_by(id=row.track_id).first().name }}</a></td>
                    <td>{{ row.laps }}</td>
                    <td>{{ row.stages }}</td>
                    {% if row.race_processed == false %}
                        <!-- TODO: Hotlink track to track page -->
                        <td id="process_race_{{ row.id }}" class="text-center">
                            <button type="button" class="btn btn-primary" onclick="process_race('td#process_race_{{row.id}}', '{{ row.id }}')">
                                Run Race
                            </button>
                        </td>
                    {% else %}
                        <td id="view_race_results_{{ row.id }}" class="text-center">
                            <a href="{{ url_for('results', race_id=row.id) }}">
                                View Results
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <script>
        function process_race(button_element, race_id){
            $('#processing_gif').show();
            $('#processing').show();
            $.ajax({
                type: 'POST',
                url: '/process_race',
                data: {
                    race_id:race_id
                },
                success:function () {
                    $('#processing_gif').hide();
                    $('#processing').hide();
                    $(button_element).html('&#10004');
                },
                error:function () {
                    $('#processing_gif').hide();
                    $('#processing').hide();
                    $(button_element).html('&#10006');
                    alert('Error running race. Please raise an issue in the Discord server.');
                }
            })
        }
    </script>
</div>
{% endblock %}