{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/external/animations/fade.css">
{% endblock %}

{% block body %}
<div class="container table-spacing u--fadeInLeft">
    <div class="row">
        <table class="table table-hover table-responsive-sm table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Length</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                {% for track in tracks %}
                <tr id="{{ track.id }}">
                    <th scope="row">{{ track.name }}</th>
                    <td>{{ track.type }}</td>
                    <td>{{ track.length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}