.season-schedule {
    position: relative;
    background: #232931;
    -webkit-box-shadow: 0 75px 94px -66px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0 75px 94px -66px rgba(0, 0, 0, 0.66);
    box-shadow: 0 75px 94px -66px rgba(0, 0, 0, 0.66);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-top: -60px;
}

@media (min-width: 576px) {
    .season-schedule {
        margin-top: -60px;
    }
}

.season-schedule .text {
    width: 100%;
    display: block;
}

.season-schedule .text h3 {
    font-size: 18px;
    color: #fff;
}

.season-schedule .text h3 span {
    display: block;
}

.season-schedule .text .series {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.season-schedule .text span {
    color: rgba(255, 255, 255, 0.8);
}

.season-schedule .text .btn {
    display: block;
}

.season-schedule .team-logo {
    width: 90px;
    position: relative;
}

.season-schedule .team-logo .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.season-schedule .team-logo .img.img-2 {
    left: 35px;
    z-index: -1;
}

.season-schedule .race-name {
    width: calc(100% - 90px);
}

.race-results {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 2em 1em;
}

.race-results .divider {
    position: relative;
}

.race-results .divider span {
    padding: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.race-results .driver-standings {
    display: block;
    width: 50%;
}

@media (max-width: 767.98px) {
    .race-results .driver-standings {
        width: 100%;
    }
}

.race-results .driver-standings .logo {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
}

.race-results .driver-standings .desc {
    width: calc(100% - 100px);
}

.race-results .driver-standings .score {
    font-weight: 800;
    font-size: 50px;
}

.race-results .driver-standings .score.win span {
    border-bottom: 5px solid #ffb400;
}

.race-results .driver-standings .score.lost span {
    color: rgba(0, 0, 0, 0.2);
}

.race-results .driver-standings .race-name {
    font-size: 16px;
    font-weight: 700;
}

.race-info .driver-standings {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
}

.race-info .driver-standings .logo {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
}

.race-info .driver-standings .desc {
    width: calc(100% - 100px);
}

.race-info .driver-standings .race-name {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 0;
}

.race-info .driver-standings .track-name {
    color: rgba(0, 0, 0, 0.7);
}

.race-info .driver-standings .date {
    color: black;
}

.race-schedule {
    position: relative;
}

.race-schedule .owl-carousel {
    margin: 0;
}

.race-schedule .owl-carousel .owl-stage-outer {
    padding-top: 0;
    padding-bottom: 2em;
    position: relative;
}

.race-schedule .owl-nav {
    position: absolute;
    bottom: 60px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (max-width: 991.98px) {
    .race-schedule .owl-nav {
        display: none;
    }
}

.race-schedule .owl-nav .owl-prev,
.race-schedule .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff !important;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: 1;
}

.race-schedule .owl-nav .owl-prev span:before,
.race-schedule .owl-nav .owl-next span:before {
    font-size: 20px;
    margin-top: 7px;
    color: #000000;
}

.race-schedule .owl-nav .owl-prev {
    top: 0 !important;
    right: 0 !important;
}

@media (min-width: 992px) {
    .race-schedule .owl-nav .owl-prev {
        right: 61px !important;
    }
}

.race-schedule .owl-nav .owl-prev:hover,
.race-schedule .owl-nav .owl-prev:focus {
    background: #000000 !important;
    outline: none !important;
}

.race-schedule .owl-nav .owl-prev:hover span:before,
.race-schedule .owl-nav .owl-prev:focus span:before {
    font-size: 20px;
    margin-top: 7px;
    color: #fff;
}

.race-schedule .owl-nav .owl-next {
    top: 0 !important;
    right: 0 !important;
}

@media (min-width: 992px) {
    .race-schedule .owl-nav .owl-next {
        right: 0 !important;
    }
}

.race-schedule .owl-nav .owl-next:hover,
.race-schedule .owl-nav .owl-next:focus {
    background: #000000 !important;
    outline: none !important;
}

.race-schedule .owl-nav .owl-next:hover span:before,
.race-schedule .owl-nav .owl-next:focus span:before {
    font-size: 24px;
    margin-top: 7px;
    color: #fff;
}

.race-schedule .owl-dots {
    text-align: center;
    margin-bottom: 300px;
}

.race-schedule .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
}

.race-schedule .owl-dots .owl-dot.active {
    background: #ffb400;
}