
@media only screen and (min-width: 720px) {
    .login-form {
        padding-top: 150px;
        padding-bottom: 400px;
    }
}

.block-content {
    background: #007bff;
    background: linear-gradient(to right, #FACC36, #EF192A, #0063A7);
    margin-bottom: auto;
}

.form-field {
    margin: 15px 0 15px 0;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}
