@media screen and (max-width: 720px){
    .table-spacing {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 720px){
    .table-spacing {
        margin-top: 150px;
        margin-bottom: 5%;
    }

    .table-shadow {
        box-shadow:rgba(0, 0, 0, 0.5) -20px 20px 5px -5px;
    }
}

#qualifying_results {
    margin-top: 3%;
    margin-bottom: 7%;
}

#race_results {
    margin-top: 3%;
}