.header {
    padding-top: 150px;
}

.jumbotron {
    background: linear-gradient(to bottom right, rgba(136, 136, 136, .7), rgba(136, 136, 136, .1),  rgba(136, 136, 136, .7));
}

.jumbotron-spacer {
    margin-bottom: 25px;
}

.jumbotron #header {
    font-family: "Bangers";
}

.track-header {
    box-shadow: 10px 10px 5px grey;
}

.description {
    text-align: center;
    color: black;
    border-left: 1px solid #000000;
    padding-left: 100px;
    font-family: "Kalam";
}

.description #table-title {
    margin-top: 50px;
    margin-bottom: -10px;
}

.section-title {
    margin-top: 60px;
    font-family: "Big Shoulders Text";
}

.section-content {
    margin-top: 25px;
    margin-bottom: 50px;
    font-family: "Big Shoulders Text";
}

#map {
    width: 100%;
    height: 500px;
    background-color: grey;
 }